<div>
  an addon component static text
  <br>
  {{log this.addonOnly}}
  {{log this.addonOnlyTest}}
  {{log this.addonOnlyTest2}}
  {{log this.addonOnlyTest3}}
  {{log this.ser1}}
  <b>{{this.addonOnly.message}}</b>
  <br>
  <b>{{concat this.addonOnlyTest.message "Test"}}</b>
  <br>
  <b>{{concat this.addonOnlyTest2.message "Test2"}}</b>
  <br>
  <b>{{concat this.addonOnlyTest3.message "Test3"}}</b>
  <br>
  <b>{{this.ser1.message}}</b>
  <br>
</div>